In [1]:
import numpy as np
import pandas as pd

### Q1. List any five functions of the pandas library with execution. 

#### Any 5 functions from `pandas` library :

1. `pd.DataFrame()` is used to create a two-dimensional heterogenous object which manuplate its data.
2. `pd.Series()` is used to create a one-dimensional homogeneous object.
3. `pd.merge()` is used to merge to DataFrames on specified columns.
4. `pd.to_datetime()` is used to convert the data type of the specified column to `datetime64`.
5. `pd.read_csv()` is used to read `CSV` files and return the `DataFrame` object.

In [2]:
# creating a DataFrame
df = pd.DataFrame({'Name': ['John', 'Alice', 'Bob'], 
                   'Age': [28, 25, 30], 
                   'Country': ['USA', 'Canada', 'UK']})
df

    Name  Age Country
0   John   28     USA
1  Alice   25  Canada
2    Bob   30      UK

In [3]:
# creating a Series
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
# merging two DataFrames
df1 = pd.DataFrame({'Name': ['John', 'Alice', 'Bob'], 'Salary': [50000, 60000, 70000]})
df2 = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Bonus': [2000, 3000, 4000]})
merged_df = pd.merge(df1, df2, on='Name', how='outer')

merged_df

      Name   Salary   Bonus
0     John  50000.0     NaN
1    Alice  60000.0  2000.0
2      Bob  70000.0  3000.0
3  Charlie      NaN  4000.0

In [5]:
# converting a column to datetime
dates = pd.DataFrame({'Date': ['2022-10-01', '2022-11-01', '2022-12-01']})
dates['Date'] = pd.to_datetime(dates['Date'])

dates

        Date
0 2022-10-01
1 2022-11-01
2 2022-12-01

In [ ]:
# reading a CSV file and creating a DataFrame
csv_df = pd.read_csv('example.csv')

csv_df

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [7]:
def reindex_dataframe(df: pd.DataFrame):
    new_index = pd.RangeIndex(start=1, stop=df.shape[0]*2, step=2)
    df.set_index(new_index, inplace=True)
    return df

df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})
new_df = reindex_dataframe(df)

new_df

   A  B   C
1  1  5   9
3  2  6  10
5  3  7  11
7  4  8  12

### Q3. You have a Pandas DataFrame df with a column named `'Values'`. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the `'Values'` column. The function should print the sum to the console. 

#### For example, if the `'Values'` column of df contains the values `[10, 20, 30, 40, 50]`, your function should calculate and print the sum of the first three values, which is `60`.

In [8]:
lst = [10, 20, 30, 40, 50]

df = pd.DataFrame({'Values': lst})

def return_first_3_sum(df: pd.DataFrame):
    result = 0
    for i in range(3):
        result += df['Values'].values[i]
    
    return result

return_first_3_sum(df)

60

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [9]:
df = pd.DataFrame({'Text': ['Data Science', 'Python Advance', 'Pandas DataFrame', 'Series']})

df['Word_Count'] = df['Text'].apply(len)

df

               Text  Word_Count
0      Data Science          12
1    Python Advance          14
2  Pandas DataFrame          16
3            Series           6

### Q5. How are `DataFrame.size()` and `DataFrame.shape()` different? 

> `DataFrame.size` returns the total number of cells in the DataFrame.

> `DataFrame.shape` returns a tuple representing the dimensions of the DataFrame i.e., the number of rows and columns.

### Q6. Which function of pandas do we use to read an excel file? 

> We have to use the `pd.read_excel()` function to read excel file using pandas.

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. 

#### The username is the part of the email address that appears before the '@' symbol.

#### For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'.

> `Note:` Your function should extract the username from each email address and store it in the new 'Username' column.

In [10]:
data = {'Email': ['john@example.com',
                  'robert.johnson@corporation.net',
                  'jane.davis@consultingfirm.com',
                  'david.brown@startup.co',
                  'alice.wang@lawfirm.com',
                  'george.white@nonprofit.org',
                  'emily@example.com',
                  'chris@example.com']}

df = pd.DataFrame(data)

df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])

df

                            Email        Username
0                john@example.com            john
1  robert.johnson@corporation.net  robert.johnson
2   jane.davis@consultingfirm.com      jane.davis
3          david.brown@startup.co     david.brown
4          alice.wang@lawfirm.com      alice.wang
5      george.white@nonprofit.org    george.white
6               emily@example.com           emily
7               chris@example.com           chris

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

#### For example, if df contains the following values:

|     |  A  |  B  |  C  |
| :-: | :-: | :-: | :-: |
|  0  |  3  |  5  |  1  |
|  1  |  8  |  2  |  7  |
|  2  |  6  |  9  |  4  |
|  3  |  2  |  3  |  5  |
|  4  |  9  |  1  |  2  |

#### Your function should select the following rows:

|     |  A  |  B  |  C  |
| :-: | :-: | :-: | :-: |
|  1  |  8  |  2  |  7  |
|  2  |  6  |  9  |  4  |
|  4  |  9  |  1  |  2  |

#### The function should return a new DataFrame that contains only the selected rows.

In [11]:
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

def select_rows(df):
    return df.query('A>5 and B<10')

select_rows(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [12]:
def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    print(f"Mean: {mean}\nMedian: {median}\nStandard Deviation: {std_dev}")

df = pd.DataFrame({'Values': np.random.randint(0,100,10)})

calculate_stats(df)

Mean: 24.5
Median: 14.0
Standard Deviation: 24.13964005991436

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [13]:
def calculate_moving_average(df):
    """`Using Chat-GPT`\n
    Calculates the moving average of sales for the past 7 days for each row in the DataFrame.

    Parameters:
    df (pandas.DataFrame): The DataFrame to calculate the moving average for.
    
    Returns:
    pandas.DataFrame: A copy of the input DataFrame with a new column 'MovingAverage'.
    """
    # Make a copy of the input DataFrame to avoid modifying the original
    result_df = df.copy()
    
    # Calculate the moving average using a rolling window of size 7
    result_df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    # Return the result DataFrame
    return result_df

In [14]:
# Example DataFrame with columns 'Sales' and 'Date'
df = pd.DataFrame({'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                   'Date': pd.date_range('2023-01-01', periods=10, freq='D')})

# Call the function to calculate the moving average
result_df = calculate_moving_average(df)

# Print the result DataFrame
result_df

   Sales       Date  MovingAverage
0     10 2023-01-01           10.0
1     20 2023-01-02           15.0
2     30 2023-01-03           20.0
3     40 2023-01-04           25.0
4     50 2023-01-05           30.0
5     60 2023-01-06           35.0
6     70 2023-01-07           40.0
7     80 2023-01-08           50.0
8     90 2023-01-09           60.0
9    100 2023-01-10           70.0

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

#### For example, if df contains the following values:

|     | Date       |
| :-- | :--------- |
| 0   | 2023-01-01 |
| 1   | 2023-01-02 |
| 2   | 2023-01-03 |
| 3   | 2023-01-04 |
| 4   | 2023-01-05 |

#### Your function should create the following DataFrame:

|     | Date       | Weekday   |
| :-- | :--------- | :-------- |
| 0   | 2023-01-01 | Sunday    |
| 1   | 2023-01-02 | Monday    |
| 2   | 2023-01-03 | Tuesday   |
| 3   | 2023-01-04 | Wednesday |
| 4   | 2023-01-05 | Thursday  |

##### The function should return the modified DataFrame.

In [15]:
dates = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', freq='D', periods=5)})

def get_weekday(df: pd.DataFrame):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

get_weekday(dates)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [16]:
def select_dates_between(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_df = df.loc[mask]
    return selected_df

select_dates_between(dates)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

> `pandas` library need to import first.